<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Eric & Eunice</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/theme-mauve.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" async></script>
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700%7CLibre+Baskerville:400,400italic"
		rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="nav-container">
		<nav class="nav nav-1 transparent light scrolled">
			<a href="index.html" class="logo">
				<span> Eric &amp; Eunice</span>
			</a>
			<ul class="menu">
				<li><a href="#home" class="inner-link" target="default">home</a></li>
				<li>
					<a href="#story" class="inner-link" target="default">our story</a>
				</li>
				<li>
					<a href="#ceremony" class="inner-link" target="default">ceremony</a>
				</li>
				<li>
					<a href="#reception" class="inner-link" target="default">reception</a>
				</li>
				<li>
					<a href="#gallery" class="inner-link" target="default">gallery</a>
				</li>
				<li>
					<a href="#rsvp" class="inner-link" target="default">rsvp</a>
				</li>
			</ul>
			<div class="mobile-toggle">
				<div class="line-1"></div>
				<div class="line-2"></div>
				<div class="line-3"></div>
			</div>
		</nav>
	</div>

	<div class="main-container">
		<a id="home" class="in-page-link"></a>

		<section class="header header-4 fullscreen burns-effect overlay">
			<div class="background-image-holder fadeIn">
				<video playsinline autoplay muted loop class="background-image">
					<source src="assets/banner_loop.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Eric &amp; Eunice</h1>
						<h6>October 14th - Santa Maria, Bulacan, PH</h6>
					</div>
				</div>
			</div>
		</section>

		<a id="story" class="in-page-link"></a>

		<section class="story story-3">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Our Story</h1>
						<h6>A serendipitous meeting</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
						<p>
							It all started when we met at the Rogaciano M. Mercado Memorial
							Hospital. After a while, she left for the UAE and we embarked on
							a long-distance relationship that lasted for two emotional
							years. Despite the physical separation, we both shared the dream
							of becoming NZRNs. Finally, after enduring the trials of being
							apart, we were reunited in Australia.
							<br />
							<br />
							Fast forward to today, and here we are, still going strong after
							all the struggles and hardships we've faced together. We
							continue to support each other, making our love story a
							testament to our enduring bond.
						</p>
					</div>
				</div>
			</div>
		</section>

		<a id="ceremony" class="in-page-link"></a>

		<section class="daccom accom-1 overlay">
			<div class="background-image-holder parallax fadeIn" style="background: url('assets/church.jpg') 50% 50%">
				<img alt="Background image" class="background-image" src="assets/church.jpg" style="display: none" />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Ceremony</h2>
						<p>
							<strong>Minor Basilica and Parish of La Purisima Concepcion</strong><br />
							1:00pm - 2:30pm<br />
							Poblacion, Sta. Maria<br />
							Bulacan, PH
						</p>
						<a href="https://goo.gl/maps/Di9fuUgA7GtaEXuo7" class="btn inner-link" target="default">View
							Map</a>
					</div>
				</div>
			</div>
		</section>

		<a id="reception" class="in-page-link"></a>

		<section class="accom accom-1 overlay">
			<div class="background-image-holder parallax fadeIn"
				style="background: url('assets/reception.jpg') 50% 50%">
				<img alt="Background image" class="background-image" src="assets/reception.jpg" style="display: none" />
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Reception</h2>
						<p>
							<strong>Angel Gabriel's Garden</strong><br />
							3:00pm - onwards<br />
							146 J.P. Rizal St. San Gabriel, Santa Maria<br />
							Bulacan, PH
						</p>
						<a href="https://goo.gl/maps/4r9Ux6X1QVVrNZVF6" class="btn inner-link" target="default">View
							Map</a>
					</div>
				</div>
			</div>
		</section>

		<a id="gallery" class="in-page-link"></a>

		<section class="story story-3">
			<div class="container">
				<div class="embedsocial-hashtag" data-ref="805833416cf218bc77c21b04e863374b9f74e565"> <a class="feed-powered-by-es" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial <span>→</span> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
				<!-- <div class="row">
					<div class="col-sm-12 text-center">
						<h2>Gallery</h2>
						<p>Contribute by posting your images in Instragram with the hashtag #thejuanforeu!</p>
					</div>
				</div>
				<div class="row">
					<div class="gallery">
						<a href="assets/gallery/01.jpg" data-caption="Image caption">
							<img src="assets/gallery/01_thumb.jpg" alt="First image" />
						</a>
						<a href="assets/gallery/02.jpg">
							<img src="assets/gallery/02_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/03.jpg">
							<img src="assets/gallery/03_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/04.jpg">
							<img src="assets/gallery/04_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/05.jpg">
							<img src="assets/gallery/05_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/06.jpg">
							<img src="assets/gallery/06_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/07.jpg">
							<img src="assets/gallery/07_thumb.jpg" alt="Second image" />
						</a>
						<a href="assets/gallery/08.jpg">
							<img src="assets/gallery/08_thumb.jpg" alt="Second image" />
						</a>
					</div>
				</div> -->
			</div>


		</section>

		<a id="rsvp" class="in-page-link"></a>

		<section class="rsvp rsvp-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Say you'll be there</h1>
						<p>Please let us know if you can make it!</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="form-wrapper">
							<form action="https://formspree.io/f/xbjvyepo" method="POST">
								<label>
									<h6>Your Email?</h6>
									<input type="email" name="email">
								</label>
								<label>
									<h6>Are you attending?</h6>
									<textarea name="message"></textarea>
								</label>
								<!-- your other form fields go here -->
								<button type="submit" class="btn inner-link">Send</button>
							</form>
							<!-- <form class="form-email" original-error="Please fill out all fields"
								action="https://formspree.io/f/xbjvyepo" method="POST">
								<div class="form-section">
									<label>
										<h6>Your Email?</h6>
										<input type="mail" name="your-name-names" class="validate-required" />
									</label>
								</div>
								<div class="form-section">
									<label>
										<h6>Are you attending?</h6>
										<textarea name="message"></textarea>
									</label>
								</div>
								<button type="submit" class="btn inner-link">Submit</button>
							</form> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer footer-1">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h6>
							© Copyright 2023. Maintained by
							<a href="vinnymarquez.com">Vinny Marquez</a>
						</h6>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
	<script src="js/smooth-scroll.min.js"></script>
	<script src="js/placeholders.min.js"></script>
	<script src="js/flexslider.min.js"></script>
	<script src="js/spectragram.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<script>
		window.addEventListener("load", function () {
			baguetteBox.run(".gallery");
		});
	</script>
</body>

</html>